.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.cardContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.2);
  position: relative;
}

.border {
  border-left: 5px solid hsl(180, 29%, 50%);
}

.companyNameBox {
  margin-left: 1rem;
}

.companyName {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.companyName h4 {
  color: hsl(180, 29%, 50%);
  margin-block-end: 0;
  margin-block-start: 0;
}

.companyName div {
  padding: 7px 5px 5px 5px;
  border-radius: 8px;
  border: none;
  font-size: 10px;
  font-weight: bold;
  background-color: hsl(180, 29%, 50%);
  color: #fff;
}
.companyName .feat {
  background-color: hsl(180, 14%, 20%);
}

.companyNameBox h3 {
  color: hsl(180, 14%, 20%);
}

@media screen and (max-width: 700px) {
  .cardContainer {
    flex-direction: column;
    align-items: flex-start;
    width: 370px;
  }
  .imgContainer {
    position: absolute;
    top: -20%;
  }
  .companyNameBox {
    margin: 2rem 0;
    width: 100%;
  }
}

@media screen and (max-width: 465px) {
  .cardContainer {
    width: 300px;
  }
}
@media screen and (max-width: 390px) {
  .cardContainer {
    width: 270px;
  }
}
