.Languages .filterList {
  pointer-events: none;
}

.filterContainer {
  position: absolute;
  top: 15%;
  left: 7%;
  padding: 2px 0;
  background-color: #fff;
  margin-right: 1.5rem;
  border-radius: 10px;
  box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clearBtnHide {
  display: none;
}
.clearBtnShow {
  display: block;
  margin-right: 2rem;
  cursor: pointer;
  color: hsl(180, 29%, 50%);
}
.clearBtnShow:hover {
  text-decoration: underline;
}

.filterBox {
  display: flex;
}

.removeIcon {
  cursor: pointer;
  margin: 5px 4px 0 4px;
}

.iconBox {
  cursor: pointer;
  background-color: hsl(180, 29%, 50%);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.iconBox:hover {
  background-color: hsl(180, 14%, 20%);
}
