.JobInfos {
  /* background-color: pink; */
  display: flex;
  gap: 1rem;
  color: hsl(180, 8%, 52%);
  align-items: center;
}

.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: hsl(180, 8%, 52%);
}

@media screen and (max-width: 700px) {
  .JobInfos {
    border-bottom: 1px solid hsl(180, 8%, 52%);
    padding-bottom: 1rem;
    margin-bottom: 0.90rem;
  }
}
